* {
      box-sizing: border-box;
}

header {
      background-color: white;
      margin: 20px;
}

.menu {
      text-align: center;
      padding-top: 20px;
}

.menu li {
      display: inline;
      margin-left: 60px;
}

.menu li a {
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      color: rgba(12, 175, 167, 0.74);
      font-size: 18px;
}

.menu li a:hover {
      color: blue;
}

.container {
      margin: 0;
      margin-top: 20px;
      height: auto;
      width: 100%;
      min-height: 95vh;
      background-repeat: no-repeat;
      background-size: cover;
}

.main_content {
      text-align: center;
      padding-top: 35px;
     
      background-color: lightgrey;
      padding-bottom: 25px;
      margin-bottom: 20px;
}

.main_content h2 {
      padding-bottom: 20px;
      font-weight: 700;
      font-size: 18px;
     
}

.main_content .paragraph {
      text-align: center;
      /* text-justify: inter-word; */
      max-width: 50%;
      margin-left: auto;
      margin-right: auto;
}

#first {
      padding-bottom: 10px;
}

#second {
      padding-bottom: 20px;
}

button {
      margin-top: 20px;
      border-radius: 10px;
      background-color: mediumseagreen;
      width: 150px;
      height: 50px;
}

.button_text {
      color: mintcream;
      font-size: 15px;
}

footer {
      height: 50px;
      text-align: right;
      margin-top: auto;
}

.footer_text {
      
      font-weight: 500;
}
