*{
      box-sizing: border-box;
}

body{
      margin: 0;
      padding: 0;
}



/* Header Section */

.header{
      background-image: url('../img/header-bg.jpeg');
      background-size: cover, contain;
      background-repeat: no-repeat;
      background-position: bottom;
      height: 370px;
      display: flex;
      flex-direction: column;
      background-attachment: fixed;
}



.menu{
      max-height: 60px;
      height: 60px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      background-color: #1d2124;
      justify-content: space-between;
}

.logo{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      max-height: 60px;

}

.logo-img{
      background-color: #1a1d20;
      max-height: 60px;
      max-width: 60px;
      margin-right: 7px;
      display: flex;
      justify-content: center;
      align-items: center;
}

.logo-img-photo{
      max-height: 50px;
      max-width: 50px;
      margin-top: 9px;
}

.logo-title-link{
      color: white;
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      font-weight: 700;
      text-decoration: none;
}

.main-menu{
      display: flex;
      flex-direction: row;
      width: 660px;
      justify-content: space-between;
      align-items: center;
}

.main-menu-item-link{
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 13px;
      color: white;
      text-decoration: none;
}

.search{
      background-color: #1a1d20;
      height: 60px;
      width: 60px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
}

.search-btn{
      width: 18px;
      height: 18px;
      border: none;
      background: transparent;
      padding: 0;
      background-image: url('../img/search-icon.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
}

.header-main{
      height: calc(100% - 60px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 55% );
}

.header-main-title{
      font-family: 'Open Sans', sans-serif;
      font-size: 25px;
      text-transform: uppercase;
      color: white;
}

.header-main-buttons{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
}

.subscribe-btn{
      width: 171px;
      height: 50px;
      margin: 10px;
      border-radius: 7px;
      color: white;
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      background-color: #89ca62;
      border: none;
      cursor: pointer;
      transition: all .4s ease-out;
}

.subscribe-btn:hover{
      background-color: #64a33e;
}

.article{
      background-color: #14b9d5;
}

.article:hover{
      background-color: #0b98b0;
}



/* Most Popular Posts Section */

.bg-color-white{
      background-color: #f2f2f2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 35px;
}

.most-popular-post-title{
      font-family: 'Open Sans';
      font-size: 18px;
      color: #18b4cf;
      text-transform: uppercase;
      font-weight: 700;
      margin-top: 40px;
      margin-bottom: 35px;
}

.most-popular-posts{
      display: flex;
      flex-direction: row;
      width: calc(100% - 500px);
      flex-wrap: wrap;
      justify-content: space-between;
}

.popular-posts-column{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: calc((100% - 30px) / 3);
}

.popular-post{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: white;
      overflow: hidden;
      margin-bottom: 15px;
      cursor: pointer;
}

.post-img{
      max-width: 100%;
      object-fit: contain;
      transition: all .4s ease-out;
}

.popular-post:hover .post-img{
      transform: scale(1.1);
}

.popular-post:hover .popular-post-title{
      transform: translateY(-3px);
}

.popular-post-title{
      width: 100%;
      text-align: center;
      font-family: 'Open Sans';
      font-weight: 700;
      font-size: 13px;
      color: #353a3d;
      padding: 12px 0;
      transition: all .4s ease-out;
      background-color: white;
}



/* Most Popular Clients Section */

.most-popular-clients{
      background-image: url('../img/parallax-bg.jpeg');
      background-repeat: no-repeat;
      height: 400px;
      background-size: cover;
      background-position-y: 100px;
      margin-bottom: 30px;

      background-attachment: fixed;
      display: grid;
      grid-template-rows: 22px auto;
      justify-content: center;
      align-content: center;
      gap: 60px;
}

.most-popular-clients-title{
      font-family: 'Open Sans';
      color: white;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
}

.line{
      height: 3px;
      width: 50px;
      background-color: #159bb3;
      margin-left: 325px;
      margin-top: 15px;
}

.most-popular-clients-brands{
      width: 700px;
      display: grid;
      grid-template-columns: auto auto auto auto;
      gap: 0;
      justify-content: space-around;
}

.brand-icon-link-1{
      text-decoration: none;
      height: 22px;
}

.brand-icon-link-2{
      text-decoration: none;
      height: 35px;
      transform: translateY(-5px);
}

.brand-icon-link-3{
      text-decoration: none;
      height: 30px;
      transform: translateY(-5px);
}

.brand-icon-link-4{
      text-decoration: none;
      height: 40px;
      transform: translateY(-5px);
}

.brand-icon-img{
      max-height: 100%;
      object-fit: contain;
}



/* Last Section with Hot News */

.top-rated-hot-news{
      background-color: #fff;
      display: grid;
      grid-template-rows: auto auto auto 1300px;
      gap: 50px;
      align-content: center;
      justify-content: center;
}

.top-rated-title{
      color: #18b4cf;
      font-family: 'Open Sans';
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
}

.latest-posts{
      display: grid;
      grid-template-columns: auto auto auto auto auto auto auto;
}

.latest-post-link{
      text-decoration: none;
}

.latest-post-img{
      max-width: 100%;
      object-fit: contain;
}

.hot-news-title{
      color: #18b4cf;
      font-family: 'Open Sans';
      font-size: 22px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      transform: translateY(-15px);
}

.hot-posts{
      max-width: 1000px;
      display: grid;
      grid-template-rows: 220px 370px 370px 220px;
      grid-gap: 40px;
      justify-content: center;
      align-content: center;
      margin: 0 auto;
      transform: translateY(-35px);
      padding-bottom: -50px;
}

.hot-posts-row-start{
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-gap: 25px;
}

.hot-post{
      display: grid;
      grid-template-columns: 56% 44%;
      text-decoration: none;
      transition: all .4s ease-out;
}

.hot-post-start-img{
      max-height: 100%;
      object-fit: fill;
}

.hot-post-start-desc{
      background-color: #f9f7f7;
      display: grid;
      grid-template-rows: auto auto;
      justify-content: end;
      align-content: center;
}

.hot-post-start-h{
      text-align: end;
      margin-right: 20px;
      margin-bottom: 0;
      font-family: 'Open Sans';
      font-weight: 700;
      font-size: 15px;
      color: #353a3d;
}

.hot-post-start-info{
      margin-left: 10px;
      margin-right: 20px;
      color: #5b6469;
      font-family: 'Open Sans';
      font-weight: 600;
      font-size: 12px;
      text-align: end;
}

.hot-post-small{
      display: grid;
      grid-template-rows: 81% 19%;
      text-decoration: none;
      transition: all .4s ease-out;
}

.hot-post-small-img{
      max-height: 100%;
      object-fit: cover;
}

.hot-post-small-desc{
      background-color: #f9f7f7;
      text-align: center;
}

.hot-post-small-h{
      font-family: 'Open Sans';
      font-weight: 700;
      font-size: 15px;
      color: #353a3d;
      margin: 0;
      margin-top: 10px;
}

.hot-posts-row{
      display: grid;
      grid-template-columns: 470px 470px;
      grid-gap: 60px;
}

.hot-post-normal{
      display: grid;
      grid-template-rows: 62% 38%;
      text-decoration: none;
      background-color: #f9f7f7;
}

.hot-post-img{
      max-width: 100%;
      object-fit: fill;
}

.hot-post-desc{
      background-color: #f9f7f7;
      display: grid;
      grid-template-rows: auto auto;
      justify-content: end;
      align-content: center;
      padding-right: 20px;
}

.hot-post-h{
      text-align: end;
      font-family: 'Open Sans';
      font-weight: 700;
      font-size: 15px;
      color: #353a3d;
      margin: 0;
}

.hot-post-info{
      color: #5b6469;
      font-family: 'Open Sans';
      font-weight: 600;
      font-size: 12px;
      text-align: end;
}

.hot-posts-row-end{
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-gap: 25px;
}



/* Footer */

.footer{
      background-color: #1d2124;
      height: 50px;     
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
}

.footer-container{
      width: 1000px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
}

.copyright-part{
      color: white;
      font-family: 'Open Sans';
      font-size: 12px;
      font-weight: 400;
}

.footer-logo{
      transform: translateY(5px);
}

.footer-logo-img{
      object-fit: contain;
      transform: scale(0.7);
}
