*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-color: #3a4965;
}

.main-table{
    margin: 23px 23px;
    max-width: 100%;
    width: 1315px;
    text-transform: uppercase;
    /* border-collapse: collapse;
    border-color: #d8d8d8; */
    border-spacing: 1px;
    color: #484848;
}



.header-cell{
    width: 27.2%;
    height: 155px;
    background-color: #fafafa;
    margin: 0;
    text-align: center;
}

.choose-your{
    font-size: 18px;
    font-family: 'arimoregular';
}

.pricing-plan{
    font-size: 30px;
    font-family: 'arimobold';
}

.header-cell-plan{
    height: 70px;
    width: calc((100% - 27.2%) / 3);
    
    margin: 0;
    text-align: center;
    color: #ffffff;
    font-size: 22px;
    font-family: 'arimoregular';
    font-weight: bold;
}

.header-cell-price{
    height: 85px;
    width: calc((100% - 27.2%) / 3);
    background-color: #f9f9f9;
    margin: 0;
    text-align: center;
}

.flex-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.price-with-sign{
    font-size: 50px;
    font-family: 'arimoregular';
    font-weight: bold;
}

.price-remaining-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.price-remaining{
    font-family: 'arimoregular'; 
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.per-month{
    font-family: 'arimoregular'; 
    font-size: 15px;
    padding: 0;
    margin-bottom: 6px;
}

.normal-row-light{
    height: 70px;
}

.normal-row-dark{
    height: 70px;
}

.item-cell{
    width: 27.2%;
    font-size: 15px;
    font-family: 'arimoregular';
}

.normal-cells{
    width: calc((100% - 27.2%) / 3);
    font-size: 15px;
    font-family: 'arimoregular';
}

.normal-row-cell-light{
    background-color: #f2f2f2;
    text-align: center;
}

.normal-row-cell-dark{
    background-color: #e3e3e3;
    text-align: center;
}

.final-row{
    height: 110px;
}

.contanct-cell-button{
    text-align: center;
    background-color: #dddddd;
}

.buy-now-cell-button{
    text-align: center;
    background-color: #eeeeee;
}

.btn{
    width: 210px;
    height: 55px;
    text-transform: uppercase;
    font-family: 'arimoregular';
    border-radius: 5px;
    color: #ffffff;
    border-style: solid;
}

.contact{
    background-color: #474747;
}

.standard{
    background-color: #89c331;
    border-color: #eeeeee;
}

.ultimate{
    background-color: #ef4955;
    border-color: #f4f4f4;
}

.premium{
    background-color: #1f7f7b;
    border-color: #eeeeee;
}
